<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free Restaurant Catalogue For You">
  <meta name="theme-color" content="#db0000" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <title>Restaurant Catalogue</title>
</head>

<body>
  <header class="app-bar">
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>Restaurant Catalogue</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/restaurants">Restaurants</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://github.com/refririfwan" target="_blank">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero" style="background-image: url('images/hero-image.jpg')"></div>
  <main id="mainContent"></main>
  <footer>
    <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/" target="_blank"
        rel="noreferrer">Restaurant-API-Dicoding</a> | Copyright © 2021 - Restaurant Catalogue</p>
  </footer>
</body>

</html>